.front-cover {
    position: relative;
}

.cover-block{
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-block-center {
    width: 40mm;
    height: 40mm;
    border-radius: 20mm;
    background-color: #FFFFFF;
}

@page:first {
    margin: 7mm;

    @top-center {
        content: none;
    }

    @right-top {
        content: none;
    }

    @bottom-center {
        content: none;
    }

    @bottom-right-corner {
        content: none   ;
    }
}

h1 {
    string-set: full-title attr(data-book-title);
    string-set: short-title content(text);
    font-family: 'Messapia', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 48pt;
    text-align: center;
    margin: 0;
}

#front-cover-block {
    margin-top: -10mm;
    background: linear-gradient(0deg, #FFFFFF 0%, #FF00FF 100%);
    height: 182mm;
}

#front-cover-top {
    display: flex;
    justify-content: space-between;
    font-weight: 130;
    margin: 0mm 2mm;
}

#front-cover-bottom {
    display: flex;
    justify-content: space-evenly;
    font-size: 10pt;
    margin: 74mm 2mm 0mm;
    font-family: 'Sligoil-Micro', sans-serif;
}

.back-cover {
    position: relative;
}

@page:nth(24) {
    margin: 7mm;

    @top-center {
        content: none;
    }

    @top-left-corner {
        content: none;
    }

    @left-top {
        content: none;
    }

    @bottom-center {
        content: none;
    }

    @bottom-left-corner {
        content: none   ;
    }
}

#back-cover-block {
    background: linear-gradient(0deg, #FFFFFF 0%, #66FF99 100%);
    margin-top: -6mm;
    height: 168mm;
}