.front-cover {
    position: relative;
}

.cover-block{
    height: 120mm;
    width: 100%;
    position: absolute;
    z-index: -1;
}

@page:first {
    margin: 7mm;

    @top-center {
        content: none;
    }

    @right-top {
        content: none;
    }

    @bottom-center {
        content: none;
    }

    @bottom-right-corner {
        content: none   ;
    }
}

h1 {
    string-set: full-title attr(data-book-title);
    string-set: short-title content(text);
    font-family: Messapia;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 48pt;
    text-align: center;
    margin: 0;
}

#front-cover-block {
    margin-top: -10mm;
    background: linear-gradient(0deg, #FFFFFF 0%, #FF00FF 100%);
}

.back-cover {
    position: relative;
}

@page:nth(20) {
    margin: 7mm;

    @top-center {
        content: none;
    }

    @top-left-corner {
        content: none;
    }

    @left-top {
        content: none;
    }

    @bottom-center {
        content: none;
    }

    @bottom-left-corner {
        content: none   ;
    }
}

#back-cover-block {
    background: linear-gradient(0deg, #FFFFFF 0%, #66FF99 100%);
    margin-top: -6mm;
}