.phoenixVisual {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    background-color: yellowgreen; /*for debugging*/
}

.phoenixVisual-sky {
    grid-row: 1 / 2;

    background: rgb(255,252,235);
    background: linear-gradient(0deg, rgb(245, 250, 240) 10%, rgb(134, 217, 221) 100%);
}

.phoenixVisual-sand {
    grid-row: 2 / 4;

    background: #B80000;
    background: linear-gradient(0deg, #400026 0%, #B80000 35%, rgb(255, 184, 164) 100%);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.phoenixVisual-icon {
    width: 40%;
}

#phoenix {
    --sectionColor1: #7D0024;
    --sectionColor2: linear-gradient(0deg, rgb(245, 250, 240) 10%, rgb(134, 217, 221) 100%);
}

#phoenix-h3Hold1 {
    grid-column: 1 / 4;
    margin-top: 10mm;
}

#phoenix-h3Hold2 {
    grid-column: 1 / 4;
    margin-top: 10mm;
}

#phoenix-h3Hold3 {
    grid-column: 1 / 4;
    margin-top: 10mm;
}