h1 {
    string-set: full-title attr(data-book-title);
    string-set: short-title content(text);
    font-family: Messapia;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 48pt;
    text-align: center;
}

h2 {
    position: relative;
    font-size: 30pt;
    margin: 0mm 5mm 1mm;
    font-family: Messapia;
    font-weight: normal;
    text-transform: uppercase;

}

h2::before {
    content: "Section " counter(section-counter) ": ";
}

h3 {
    margin: 0mm 0mm 3mm;
    position: relative;

    string-set: page-title content(text);
}

P {
    margin: 3mm 0mm;
}

ul {
    margin: 3mm 0mm;
    padding-inline-start: 9mm;
    font-family: "AUTHENTICSans", sans-serif;
    letter-spacing: normal;
}






/* CLASSES */

.chapter-opening-block-holder {
    margin-left: 5mm;
    padding-right: 5mm;
    width: 115mm;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #EEE; */

    /* border-radius: 20mm 0mm; */
    
}

.chapter-opening-block {
    width: 110mm;
}

.chapter-opening-text {
    /* font-family: 'Sligoli-Micro', serif;
    font-family: "AUTHENTICSans", sans-serif; */
    font-family: "Messapia", serif;
    font-size: 14pt;
    font-weight: bold;
}

.chapter-text-holder {
    font-family: 'Sligoli-Micro', serif;
    font-size: 10pt;
    letter-spacing: -0.1mm;
    width: 120mm;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4mm;

    position: absolute;
}

.h2-background {
    height: 10mm;
    width: 89mm;
    margin: 10mm 0mm;

    border-radius: 0mm 5mm 5mm 0mm;

    background: var(--sectionColor2);

    position: absolute;
}

.li-title {
    /* font-family: "Messapia", serif;
    font-family: 'Sligoli-Micro', serif; */
    font-weight: 130;
}

.grid-4 {
    font-family: 'Sligoli-Micro', serif;
    font-size: 10pt;
    letter-spacing: -0.1mm;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4mm;

    position: relative;
}

.g4-h3-holder {
    font-family: "Messapia", serif;
    font-size: 14pt;
    font-weight: bold;
}

.h3-background {
    height: 20mm;
    width: 20mm;
    margin: 2mm 3mm;

    border-radius: 10mm;

    background: var(--sectionColor2);

    position: absolute;
}

.g4-image-holder {
    display: flex;
}

.g4-image-description {
    margin: 3mm 1mm 0mm 20mm;
    border-right: dashed var(--sectionColor1) 0.7mm;
    padding-right: 1mm;

    font-family: "VG5000", sans-serif;
    font-size: 7pt;
    line-height: 3mm;
    letter-spacing: normal;

    text-align: end;
    display: block;
}