@font-face {
    font-family: 'Sligoil-Micro';
    src:    url('Sligoil-Micro.woff') format('woff'),
            url('Sligoil-Micro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} 